{% extends 'base.html' %}

{% block title %}
Participantes
{% endblock %}

{% block sidebar %}
{% include 'participantes/__menu.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-s12">
        <a href="">
            <a href="{% url 'participante-import' %}" class="waves-effect waves-light btn">
                <i class="material-icons left">cloud</i>Importar Participantes
            </a>
        </a>
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% include 'includes/__form_get.html' %}
    </div>
</div>

<div class="row">
<div class="col s12">

    <table class="bordered highlight responsive-table">
        <thead>
        <tr>
            <th>#</th>
            <th>RDA</th>
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Ciclo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for participante in participantes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ participante.rda }}</td>
                <td>{{ participante.ci }}</td>
                <td>{{ participante.nombres }}</td>
                <td>{{ participante.apellidos }}</td>
                <td>{{ participante.ciclo }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>
{% endblock %}