@media print {
    @page { margin: 0; }
    body {
        margin: 0.5cm;
        margin-top: 0cm;
    }
    form{
        display: none !important;
    }
    nav{
        display: none !important;
    }
    footer{
        display: none;
    }
    a{
        display: none;
    }
    #menuizquierda{
        display: none;
    }
    #printplanilla{
        display: none;
    }
    #cabeceraproaced{
        display: inline-block !important;
    }
    #cuerpocontenido{
        width: 100% !important;
    }
}